.console{
    transition: transform 0.6s ease-in-out;
}

.console:hover{
    transform: scale(1.08) rotate(-10deg) translateY(-20px);
}

.swiper {
    position: relative;
    transition: background 0.5s;
}

.fin1{
    background-image: url("assets/Zelda-BotW.jpg");
    background-size: cover;
}
.fin2{
    background-image: url("assets/mario paysage.jpg");
    background-size: cover;
}
.fin3{
    background-image: url("assets/metroiPaysage.jpg");
    background-size: cover;
}
.fin4{
    background-image: url("assets/paysagePokemon.png");
    background-size: cover;
}
